@page "/article/{id:int}"
@inject HttpClient HttpClient

@if (Lecture == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h3 class="title " style="color: #1b2e35; font-weight: bold; text-align: center;">
                            @Lecture.Title
                        </h3>
                        <div class="article-content"
                            style="white-space: pre-wrap; word-wrap: break-word; line-height: 1.6; font-size: 1.1rem; padding: 20px; border-radius: 5px;">
                            @Lecture.Content
                            <p class="text-muted">
                                @Lecture.CreatedDate.ToShortDateString()
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private GetLectureResponse Lecture;

    protected override async Task OnInitializedAsync()
    {
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://apisurvival-i6wx8ysg.b4a.run");
        Lecture = await client.GetFromJsonAsync<GetLectureResponse>($"api/Lecture/{Id}");
    }

    public class GetLectureResponse
    {
        public int LectureID { get; set; }
        public string Title { get; set; }
        public string Content { get; set; }
        public int CreatedBy { get; set; } // Надо сделать так чтобы показывался не id а никнейм автора статьи
        public DateTime CreatedDate { get; set; }
    }
}