@page "/login"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject BlazorUser BlazorUser
@inject BlazorUser User

@using System.Text.Json

<section class="bg-green ">
    <div class="mask d-flex align-items-center gradient-custom-3 vh-100 main-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2 class="text-center mb-1">Вход</h2>
                            <form>
                                <div class="form-group mb-3 text-start">
                                    <label for="loginOrEmail"><b>Имя пользователя или Email</b></label>
                                    <input type="text" class="form-control" @bind="LoginOrEmail"
                                           placeholder="Введите имя пользователя или Email">
                                    @if (ShowLoginOrEmailMessage)
                                    {
                                        <p class="text-danger">Имя пользователя или Email не введен</p>
                                    }
                                </div>
                                <div class="form-group mb-3 text-start">
                                    <label for="password"><b>Пароль</b></label>
                                    <input type="@(ShowPassword ? "text" : "password")" class="form-control" @bind="Pass"
                                           placeholder="Введите пароль">
                                    @if (ShowPasswordMessage)
                                    {
                                        <p class="text-danger">Пароль не введен</p>
                                    }
                                    <div class="form-check mt-2">
                                        <input type="checkbox" class="form-check-input" @bind="ShowPassword" id="showPassword">
                                        <label class="form-check-label" for="showPassword">Показать пароль</label>
                                    </div>
                                </div>
                                @if (LoginUnSuccess)
                                {
                                    <p class="text-danger">Неверный ввод имени пользователя или пароля</p>
                                }
                                <div class="w-100 d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary mt-auto" @onclick="CheckFields" disabled="@IsLoading">
                                        @if (IsLoading)
                                        {
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            <span class="sr-only">Загрузка...</span>
                                        }
                                        else
                                        {
                                            <span>Войти</span>
                                        }
                                    </button>
                                </div>
                                <p class="text-center text-muted mt-2 mb-0">
                                    Нет аккаунта? <a href="/registration"
                                                     class="fw-bold text-body"><u>Регистрация</u></a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    User user;
    private bool ShowLoginOrEmailMessage { get; set; }
    private bool ShowPasswordMessage { get; set; }
    private bool LoginUnSuccess { get; set; }
    private bool IsLoading { get; set; }
    private bool ShowPassword { get; set; }
    public string LoginOrEmail = "";
    public string Pass = "";

    protected override void OnInitialized()
    {
        
    }

    private async Task CheckFields()
    {
        ShowLoginOrEmailMessage = string.IsNullOrEmpty(LoginOrEmail);
        ShowPasswordMessage = string.IsNullOrEmpty(Pass);

        if (!ShowLoginOrEmailMessage && !ShowPasswordMessage)
        {
            IsLoading = true;
            await UserEnter();
            IsLoading = false;
        }
    }

    private async Task UserEnter()
    {
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://survivalschoolfinalapi.onrender.com/");

        if (string.IsNullOrEmpty(LoginOrEmail) || string.IsNullOrEmpty(Pass))
        {
            throw new ArgumentException("Login or password is empty");
        }

        HttpResponseMessage response = await client.GetAsync($"api/User/{LoginOrEmail}/{Pass}");

        if (response.IsSuccessStatusCode)
        {
            BlazorUser.User = await response.Content.ReadFromJsonAsync<User>();
            NavigationManager.NavigateTo("/profile");
        }
        else
        {
            LoginUnSuccess = true;
        }
    }
}