@page "/prof"
@* страница с примерным дизаном личного кабинета с заглушками *@

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Школа выживания</a>
    </div>
</nav>

<section class="bg-green">
    <div class="mask d-flex align-items-center gradient-custom-3 vh-100 main-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card border shadow p-3 mb-5 bg-white" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2 class="text-center mb-1">Личный кабинет</h2>
                            <div class="form-group mb-3 text-start">
                                <label for="username"><b>Логин</b></label>
                                <p>john_doe</p>
                            </div>
                            <div class="form-group mb-3 text-start">
                                <label for="email"><b>Почта</b></label>
                                <p>john.doe@example.com</p>
                            </div>
                            <div class="form-group mb-3 text-start">
                                <label for="firstName"><b>Имя</b></label>
                                <p>John</p>
                            </div>
                            <div class="form-group mb-3 text-start">
                                <label for="lastName"><b>Фамилия</b></label>
                                <p>Doe</p>
                            </div>
                            <div class="form-group mb-3 text-start">
                                <label for="registrationDate"><b>Дата регистрации</b></label>
                                <p>06.11.2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>